<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.classmanagerapp.dao.submission.SubmissionMapper">
    <resultMap id="SubmissionRequestMap" type="SubmissionRequest">
        <constructor>
            <idArg column="submission_id" javaType="Long"/>
            <arg column="assignment_id" javaType="Long"/>
            <arg column="user_id" javaType="Long"/>
            <arg column="team_id" javaType="Long"/>
            <arg column="is_submitted" javaType="Boolean"/>
            <arg column="content" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="SubmissionStatusMap" type="SubmissionStatusResponse">
        <constructor>
            <idArg column="submission_id" javaType="Long"/>
            <arg column="assignment_id" javaType="Long"/>
            <arg column="submitter_user_id" javaType="Long"/>
            <arg column="team_id" javaType="Long"/>
            <arg column="is_submitted" javaType="Boolean"/>
            <arg column="assignment_name" javaType="String"/>
            <arg column="due_date" javaType="LocalDateTime"/>
            <arg column="is_close" javaType="Boolean"/>
        </constructor>
    </resultMap>
    <insert id="save" parameterType="Submission">
        INSERT INTO submission (
        assignment_id,
        submitter_user_id,
        team_id,
        is_submitted
        )
        VALUES (
        #{assignmentId},
        #{submitterUserId},
        #{teamId},
        COALESCE(#{isSubmitted}, false)
        )
    </insert>

    <select id="findById" parameterType="Long" resultType="Submission">
        SELECT *
        FROM submission
        WHERE id = #{id}
    </select>
    <select id="findByUserId" parameterType="Long" resultType="Submission">
        SELECT *
        FROM submission
        WHERE submitter_user_id = #{userId}
    </select>
    <select id="findByUserIdIndividualSubmissions" parameterType="Long" resultMap="SubmissionStatusMap">
        SELECT
            s.id AS submission_id,
            a.id AS assignment_id,
            s.submitter_user_id AS submitter_user_id,
            s.team_id AS team_id,
            s.is_submitted AS is_submitted,
            a.title AS assignment_name,
            a.due_date AS due_date,
            a.is_close AS is_close
        FROM assignment a
        LEFT JOIN submission s
            ON s.assignment_id = a.id
            AND s.submitter_user_id = #{userId}
        WHERE a.assignment_type = 'INDIVIDUAL';
    </select>
    <select id="findByUserIdTeamSubmissions" parameterType="Long" resultMap="SubmissionStatusMap">
        SELECT
        s.id AS submission_id,
        a.id AS assignment_id,
        s.submitter_user_id AS submitter_user_id,
        s.team_id AS team_id,
        s.is_submitted AS is_submitted,
        a.title AS assignment_name,
        a.due_date AS due_date,
        a.is_close AS is_close
        FROM assignment a
        LEFT JOIN submission s
        ON s.assignment_id = a.id
        AND s.team_id = (SELECT team_id FROM user WHERE id = #{userId})
        WHERE a.assignment_type = 'TEAM';
    </select>
    <update id="update" parameterType="SubmissionRequest">
        UPDATE submission
        SET
            is_submitted = #{isSubmitted},
            submitter_user_id = #{userId}
        WHERE id = #{submissionId}
    </update>

    <select id="selectSubmissionSummary" resultType="com.kosa.classmanagerapp.model.Submission">
        SELECT
        u.full_name AS fullName,
        COUNT(s.id) AS submissionCount
        FROM
        user u
        LEFT JOIN
        submission s
        ON
        u.id = s.submitter_user_id
        GROUP BY
        u.full_name
        ORDER BY
        submissionCount DESC;
    </select>
</mapper>
