<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="User" type="com.kosa.classmanagerapp.model.User"/>
        <typeAlias alias="Assignment" type="com.kosa.classmanagerapp.model.assignment.Assignment"/>
        <typeAlias alias="Submission" type="com.kosa.classmanagerapp.model.Submission"/>
        <typeAlias alias="Attendance" type="com.kosa.classmanagerapp.model.attendance.Attendance"/>
        <typeAlias alias="Project" type="com.kosa.classmanagerapp.model.Project"/>
        <typeAlias alias="Team" type="com.kosa.classmanagerapp.model.Team"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="com.kosa.classmanagerapp.dao.UserMapper"/>


        <mapper class="com.kosa.classmanagerapp.dao.ProjectMapper"/>
        <mapper class="com.kosa.classmanagerapp.dao.TeamMapper"/>
        <mapper class="com.kosa.classmanagerapp.dao.SubmissionMapper"/>
        <mapper class="com.kosa.classmanagerapp.dao.AssignmentMapper"/>

    </mappers>
</configuration>