<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.classmanagerapp.dao.AttendanceMapper">
    <select id="getAttendance" resultType="Attendance">
        SELECT
        a.id AS attendance_id,
        a.user_id,
        u.user_name,
        a.session_date,
        a.status
        FROM attendance a
        JOIN user u ON a.user_id = u.id;

    </select>
</mapper>