<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.classmanagerapp.dao.SubmissionMapper">

    <insert id="save" parameterType="Submission">
        INSERT INTO submission (
        assignment_id,
        submitter_user_id,
        team_id,
        content,
        submitted_at
        )
        VALUES (
        #{assignmentId},
        #{submitterUserId},
        #{teamId},
        #{content}
        #{submittedAt}
        );
    </insert>

</mapper>