<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.classmanagerapp.dao.SubmissionMapper">
    <resultMap id="SubmissionStatusMap" type="SubmissionStatusResponse">
        <constructor>
            <idArg column="submitted_id" javaType="Long"/>
            <arg column="assignment_id" javaType="Long"/>
            <arg column="team_id" javaType="Long"/>
            <arg column="submitted" javaType="Boolean"/>
            <arg column="assignment_name" javaType="String"/>
            <arg column="due_date" javaType="LocalDate"/>
            <arg column="is_close" javaType="Boolean"/>
        </constructor>
    </resultMap>
    <insert id="save" parameterType="Submission">
        INSERT INTO submission (
        assignment_id,
        submitter_user_id,
        team_id,
        content,
        submitted_at
        )
        VALUES (
        #{assignmentId},
        #{submitterUserId},
        #{teamId},
        #{content},
        #{submittedAt}
        )
    </insert>
    <select id="findById" parameterType="Long" resultType="Submission">
        SELECT *
        FROM submission
        WHERE id = #{id}
    </select>
    <select id="findByUserId" parameterType="Long" resultType="Submission">
        SELECT *
        FROM submission
        WHERE submitter_user_id = #{userId}
    </select>
    <select id="findByUserIdIndividualSubmissions" parameterType="Long" resultMap="SubmissionStatusMap">
        SELECT
            s.id AS submitted_id,
            a.id AS assignment_id,
            s.team_id AS team_id,
            CASE
                WHEN s.id IS NULL THEN FALSE
                ELSE TRUE
            END AS submitted,
            a.title AS assignment_name,
            a.due_date,
            a.is_close as is_close
        FROM assignment a
        LEFT JOIN submission s
            ON s.assignment_id = a.id
            AND s.submitter_user_id = #{userId}
        WHERE a.assignment_type = 'INDIVIDUAL'
    </select>
    <select id="findByUserIdTeamSubmissions" parameterType="Long" resultMap="SubmissionStatusMap">
        SELECT
            s.id AS submitted_id,
            a.id AS assignment_id,
            s.team_id AS team_id,
        CASE
            WHEN s.id IS NULL THEN FALSE
            ELSE TRUE
        END AS submitted,
            a.title AS assignment_name,
            a.due_date,
            a.is_close as is_close
        FROM assignment a
        JOIN user u ON u.id = #{userId}
        LEFT JOIN submission s
        ON s.assignment_id = a.id
        AND s.team_id = u.team_id
        WHERE a.assignment_type = 'TEAM';
    </select>
    <update id="update" parameterType="Submission">
        UPDATE submission
        SET
        content = #{content},
        submitted_at = NOW()
        WHERE submitter_user_id = #{submitterUserId}
        AND assignment_id = #{assignmentId}
    </update>
</mapper>
