<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.classmanagerapp.dao.TeamMapper">
    <insert id="save" parameterType="Team">
        INSERT INTO team (team_name, project_id)
        VALUES (#{teamName}, #{projectId})
    </insert>
    <select id="count" resultType="int">
        SELECT COUNT(*) FROM team
    </select>
    <select id="findAll" resultType="Team">
        SELECT * FROM team
    </select>
</mapper>