<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.classmanagerapp.dao.UserMapper">
    <update id="updatePassword">
        UPDATE user
        SET password_hash = #{passwordHash}
        WHERE id = #{id}
    </update>

    <select id="findByUserName" resultType="User">
        SELECT * FROM user WHERE user_name = #{userName}
    </select>

    <insert id="save" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (user_name, password_hash, full_name, birthday, authorization)
        VALUES (#{userName}, #{passwordHash}, #{fullName}, #{birthday}, #{authorization})
    </insert>
    <update id="updateTeam" parameterType="User">
        UPDATE user
        SET team_id = #{teamId}
        WHERE id = #{id}
    </update>

    <!--  user 테이블 조회 → team 만들 때 사용자 목록 가져오기 -->
    <select id="findAllUser" resultType="User">
        SELECT id, user_name AS userName, full_name AS fullName, team_id AS teamId
        FROM user
        where authorization = 'USER';
    </select>


    <select id="findUserById" resultType="User">
        SELECT id, user_name, password_hash, full_name, team_id
        FROM user
        WHERE id = #{id}
    </select>

<!-- 팀정보 업데이트 -->
    <update id="updateUserTeam" parameterType="map">
        UPDATE user
        SET team_id = #{teamId}
        WHERE id = #{userId}
    </update>

    <select id="findByAuthorization"
            parameterType="string"
            resultType="User">

        SELECT id, user_name, password_hash, full_name, team_id, authorization
        FROM user
        WHERE authorization = #{authorization}

    </select>
</mapper>